@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #212123;
}

.container {
  max-width: 1274px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 24px;
}

.btn {
  background: #6C3EB8;
  border-radius: 6px;
  border: none;
  padding: 9px 20px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
}


@import "header";
@import "begin";
@import "trending";
@import "worth";
@import "new";
@import "footer";