@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #212123;
}

.container {
  max-width: 1274px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 24px;
}

.btn {
  background: #6C3EB8;
  border-radius: 6px;
  border: none;
  padding: 9px 20px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
}

.header {
  padding: 30px 10px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  ont-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: #B8B8B8;
}
.header__user-circle {
  width: 36px;
  height: 36px;
  background: #191919;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__search {
  width: 303px;
  position: relative;
}
.header__search span {
  position: absolute;
  top: 5px;
  left: 9px;
}
.header__search-field {
  width: 100%;
  height: 27px;
  background: #191919;
  border-radius: 6px;
  border: none;
  outline: none;
  padding-left: 39px;
  color: #B8B8B8;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.begin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.aside {
  background: #191919;
  border-radius: 6px;
  padding: 25px;
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aside__title {
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.aside__list {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}
.aside__item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #576067;
  cursor: pointer;
}
.aside__item:hover {
  color: #8B57C6;
}
.aside__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aside__bottom-link {
  font-weight: 500;
  font-size: 12px;
  color: #576067;
}

.sale {
  width: 77%;
  border-radius: 6px;
  background: #191919;
  padding: 30px 27px 85px 35px;
}
.sale__title {
  font-weight: 900;
  font-size: 115px;
  text-transform: uppercase;
  color: #212123;
}
.sale__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.sale__info {
  width: 55%;
}
.sale__info-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #616E74;
}
.sale__info-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
  color: #F6F6F7;
  margin: 8px 0 24px;
}
.sale__info-btn {
  background: #6C3EB8;
  border-radius: 6px;
  border: none;
  padding: 9px 20px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
}
.sale__img {
  position: absolute;
  top: -55px;
  right: 0;
}

.trending {
  margin: 20px 0;
  padding: 25px;
  background: #191919;
  border-radius: 6px;
}
.trending__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.trending__card {
  width: calc(20% - 16px);
  border-radius: 8px;
  background: #212123;
  overflow: hidden;
  cursor: pointer;
}
.trending__card:hover {
  box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.06);
  transform: translateY(-5px);
}
.trending__card-img {
  width: 100%;
  height: 150px;
  max-height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}
.trending__card-img-super-count{
  width: 100%;
  height: 200px;
}
.span-wrapper-purchased-people{
  color: #ff9e02;
}
.trending__card-info {
  padding: 12px 12px 8px 12px;
}
.trending__card-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}
.trending__card-category {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #B8B8B8;
  margin: 5px 0 28px;
}
.trending__card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.trending__card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #6C3EB8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.trending__card-oldPrice {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: #576067;
}
.trending__card-purchased {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  color: #576067;
}
.trending__btn {
  display: block;
  margin: 24px auto 0;
}

.worth {
  padding: 25px;
  background: #191919;
  border-radius: 6px;
}
.worth__card {
  border-radius: 0;
  background: transparent;
}
.worth__card-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
}

.new {
  margin-top: 20px;
}
.new__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.new__left {
  width: 50%;
  padding: 74px 139px 160px 103px;
  background: #191919;
  border-radius: 6px 0 0 6px;
  position: relative;
}
.new__left::before {
  content: url("../images/sneak.png");
  position: absolute;
  bottom: -30px;
  right: -30px;
  z-index: 2;
}
.new__left::after {
  content: url("../images/gamepad.png");
  position: absolute;
  bottom: 40px;
  left: -30px;
}
.new__title {
  font-weight: 300;
  font-size: 60px;
  line-height: 85px;
  text-align: center;
  color: #6C3EB8;
}
.new__title-big {
  font-size: 150px;
  line-height: 183px;
}
.new__btn {
  display: block;
  margin: 0 auto;
}
.new__right {
  width: 50%;
  position: relative;
  background: url("../images/santa.png") center/cover no-repeat;
}
.new__right-text {
  position: absolute;
  bottom: 24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #212123;
}
.new__right-text span {
  font-weight: 600;
  color: #6C3EB8;
}

.footer__nav {
  background: #191919;
  border-radius: 6px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__develop {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #576067;
}
.footer__develop span {
  color: #6C3EB8;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}
.footer__link:hover svg path {
  fill: #6C3EB8;
}

/* Other Pages */
.div-container-btn-page {
  display: flex;
  justify-content: center;
}
.btn-pages-Products:not(:last-child) {
  margin-right: 10px;
}
.trending__row-mens {
  margin-bottom: 30px;
}